.container {
  width: 1200px;
  margin: 0 auto;
  background: #1A1919;
}

/* BOVEN */
.boven {
  background: #5C192B;
  overflow: auto;
  font-family: Helvetica;
  color: white;
  font-size: 12px;
  padding: 10px;
}

.boven ul {
  padding: 0;
  list-style: none;
}

.boven ul li {
  float: left;
}

img.logo {
  width: 100px;
  height: 100px;
  float: left;
}

#search {
  align-items: left;
}

/*NAVIGATIE*/
nav {
  float: left;
  width: 1100px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  float: left;
  width: 16.6%;
}

.header {
  background: #1A1919;
  overflow: auto;
}

.hoofdnavigatie {
  font-family: Arial;
  color: white;
  font-size: 13px;
  margin: 25px;
}

/* INDEX.HTML */

/* slideshow heeft afbeelding en tekst */
.slideshow {
  height: 591px;
  background: url("images/foto_1.jpg") bottom center no-repeat;
  background-size: cover;
}

/* over iedereen die er niet is */
#iedereen {
  font-family: Arial Black;
  font-size: 37pt; 
  text-align: center;
  color: white;
  margin: 0px;
  padding: 130px 0 0;
  text-transform: uppercase;
}

/* bestel meteen uw tickets */
#tickets {
  font-family: Apple Symbols;
  font-size: 25pt;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0px;
}

/* bestel button */
input#bestellen {
  font-family: Arial;
  font-weight: bold;
  font-size: 10pt;
  text-transform: uppercase;
  color: white;
  background-color: #CC1B44;
  text-align: center;
  padding: 13px;
  width: 140px;
  margin: 14px auto 0;
  display: inherit;
  border: 0px;
  border-radius: 5px;
}

/* DONATIE PAKKETEN */

.doneren {
  margin: 30px;
  padding: 10px;
  background-color: #7A2334;
  border: 1px solid black;
  opacity: 0.6;
}

.doneren p {
  font-family: Arial;
  margin: 5%;
  color: white;
  }

.doneren h2 {
  font-family: Arial;
  margin: 5%;
  color: white;
  }

#donateur {
  text-align: center;
}

#pakket1 {
  float: left;
}

#pakket2 {
  float: left;
}

#pakket3 {
  float: left;
}

#pakket4 {
  float: none;
}

/* waarom werkt dit niet :(  */

.nieuwsbrief {
  clear: both;
}

.voorstellingIedereen {
  background: #1A1919;
  font-family: Arial;
  color: white;
  width: 1200px;
}

.voorstellingMary {
  background: #1A1919;
  font-family: Arial;
  color: white;
  width: 1200px;
}

/* PROGRAMMA.HTML */

img.voorstelling_1 {
  width: 319px;
  height: 213px;
}

img.voorstelling_2 {
  width: 321px;
  height: 213px;
}

/* OVERZICHTVOORSTELLING.HTML */

img.overzicht {
  width: 233px;
  height: 303px;
}

img.acteursimg {
  width: 120px;
  height: 120px;
  border-radius: 150px;
}
