.boven {
  background: #5C192B;
  overflow: auto;
  font-family: Helvetica;
  color: white;
  font-size: 12px;
  padding: 12px;
  width: 1200px;
  height: 52px;
}

img.logo {
  width: 100px;
  height: 100px;
}

.header {
  background: #1A1919;
}

.hoofdnavigatie {
  font-family: Arial;
  color: white;
  font-size: 13px;
  margin: 25px;
}

.slideshow {
  font-family: Arial;
}

#iedereen {
  font-family: Arial Black;
  font-size: 45pt;
}

.doneren {
  font-family: Arial;
}

img.oma {
  width: 1200px;
  height: 590px;
}

.voorstellingIedereen {
  background: #1A1919;
  font-family: Arial;
  color: white;
  width: 1200px;
}

.voorstellingMary {
  background: #1A1919;
  font-family: Arial;
  color: white;
  width: 1200px;
}


img.voorstelling_1 {
  width: 319px;
  height: 213px;
}

img.voorstelling_2 {
  width: 321px;
  height: 213px;
}

img.overzicht {
  width: 233px;
  height: 303px;
}

img.acteursimg {
  width: 120px;
  height: 120px;
  border-radius: 150px;
}





