.container {
  width: 1200px;
  margin: 0 auto;
}
/*navigatie*/
nav {
  float: left;
  width: 1100px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  float: left;
  width: 16.6%;
}
.boven {
  background: #5C192B;
  overflow: auto;
  font-family: Helvetica;
  color: white;
  font-size: 12px;
  padding: 12px;
  height: 52px;
}

.boven ul {
  padding: 0;
  list-style: none;
}

.boven ul li {
  float: left;
}

img.logo {
  width: 100px;
  height: 100px;
  float: left;
}

.header {
  background: #1A1919;
  overflow: auto;
}

.hoofdnavigatie {
  font-family: Arial;
  color: white;
  font-size: 13px;
  margin: 25px;
}

.slideshow {
  font-family: Arial;
}

#iedereen {
  font-family: Arial Black;
  font-size: 45pt;
}

.doneren {
  font-family: Arial;
}

.foto_1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.voorstellingIedereen {
  background: #1A1919;
  font-family: Arial;
  color: white;
  width: 1200px;
}

.voorstellingMary {
  background: #1A1919;
  font-family: Arial;
  color: white;
  width: 1200px;
}


img.voorstelling_1 {
  width: 319px;
  height: 213px;
}

img.voorstelling_2 {
  width: 321px;
  height: 213px;
}

img.overzicht {
  width: 233px;
  height: 303px;
}

img.acteursimg {
  width: 120px;
  height: 120px;
  border-radius: 150px;
}





